:root {
  --white: #ffffff;
  --custom-white: rgba(245, 250, 255, 1);
  --shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  --background: #f5faff;
  --background-block: rgba(245, 250, 255, 0.8);
  --primary: rgba(100, 211, 112, 1);
  --grey: rgba(222, 230, 238, 1);
  --black: rgba(2, 2, 2, 1)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  max-width: 1550px;
  margin: 0 auto;
  min-height: 100vh;
  background: var(--background);
  background-image: url('./icons/bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}
.strikethrough {
  text-decoration: line-through;
}

span{
  color: var(--primary);
}
section{
  padding-top: 40px;
  padding-bottom: 60px;
}

a {
  text-decoration: none;
}